#gggg{
    color: red;
    text-align:center;
    font-size: 50px;
}
.button{
    border: 0px;
   background-color: white;
   font-size: 25px;
   text-align: right;
   margin-left: 36.3cm;
   color: red;
   cursor: pointer;
   height: 25px;

}
.myButton{
   
    

}



#myStyle{
    text-align: right;
    cursor: pointer;
}
#myBff{
    text-align: right;
    cursor: pointer;
}
.gg{
    border: 0px;
   background-color: white;
   font-size: 20px;
   text-align: right;
  height: 15px;

   
 
   cursor: pointer;
}
#myEe{
    margin-left: 39cm;
}
#myFf{
    margin-left: 38.5cm;
}
#myDad{
    margin-left: 39cm;
}
#myUncle{
    margin-left: 38.5cm;
    margin-bottom: 10px;
   
}
#myAunt{
    margin-left: 39cm; 
}
 #myMom{
    margin-left: 39cm; 
    
}

#myBb{
    margin-left: 38.5cm; 
}
#myAa{
    margin-left: 39cm; 
}
#myCc{
    margin-left: 39cm; 
}

#tt{
    margin-left: 33.8cm;
    color: blue;
}
#myAunt{

}
#dd{
    margin-left: 31.8cm; 
    color: blue;
}
   